</main>

<!--===== FOOTER =====-->
<footer class="footer">
    <p class="footer__title">Shrinivas R G</p>
    <p class="footer__copy">Thanks for making it to the end! &nbsp; Your time means a lot to me.</p>

</footer>
<script src="https://unpkg.com/scrollreveal"></script>

</body>

</html>