
.white{
    color: white;
}

.gradient-background {
    background: linear-gradient(300deg, #374fe8, #a241bd, #48a8d1);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

#Home{
    height: 100vh;
}

#Projects{
    height: 100vh;
}

#Contact{
    
}

#logo{
    margin-left: 50px;
    margin-bottom: 4px;
}

.pnl{
    font-family: 'Style Script';
    font-size:xx-large;
    font-weight: bolder;
}

#r-nav{
    margin-right: 269px;
    font-family: cursive;
    font-size: 18px;
}

.left-nav{
    margin-left: 217px;
}

.link{
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background: 0 0;
    border: 0;
    color: white;
}

.link:hover{
    color: grey;
    font-size: 19px;
}

.l-hero{
    font-family: cursive;
}

.profile{
    height: 500px;
    width: 333px;
}

.bgc{
    height: 300;
    width: 400;
}

.cpr{
    color: white;
}