<!--===== ABOUT =====-->
<%- include("partials/header.ejs") %>

<section class="about section " id="about">
    <h2 class="section-title about_title">About</h2>

    <div class="about__container bd-grid">
        <div class="about__img">
            <img src="images/profile_rnd.png" alt="">
        </div>

        <div class="about_right">
            <h2 class="about__subtitle">I'm Shrinivas,</h2>
            <p class="about__text">an enthusiastic Computer Science Engineering student with a strong foundation
                in Java and Data Structures & Algorithms. Currently, I am expanding my expertise in Full Stack
                Development to build scalable and efficient applications. I am eager to pursue opportunities in
                software development to apply my technical skills and problem-solving abilities.</p>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs") %>