<%- include("partials/header.ejs") %>

<!--===== CONTACT =====-->
<section class="contact section" id="contact">
    <h2 class="section-title">Contact</h2>

    <div class="contact__container bd-grid" id="contactForm">
        <div class="contact-item">
            <label class="label-email">Email:</label>
            <a id="email-link" href="mailto:shrinivasraddigunjalad@gmail.com">shrinivasraddigunjalad@gmail.com</a>
        </div>

        <div class="contact-item">
            <label class="label-phone">Phone:</label>
            <a id="phone-link" href="tel:+919591389862">+91 9591389862</a>
        </div>

        <div class="contact-item">
            <label class="label-location">Location:</label>
            <p id="location-text">Bengaluru, Karnataka, India</p>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs") %>