<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="sytles/e_com.css">
    <title>The Chapri Store - Project</title>
</head>

<body>

    <header>
        <h1>The Chapri Store</h1>
        <p>E-commerce Website using MERN Stack</p>
    </header>

    <div class="container">

        <h2>Project Overview</h2>
        <p>
            The E-commerce Website Project is a modern online shopping platform developed using the MERN stack (MongoDB,
            Express, React, Node). It tackles key e-commerce challenges such as SEO, sorting, user experience, and
            transaction delays. Key features include secure authentication, optimized product filters, fast
            transactions, logistics integration, and ML-based recommendations. Future goals include AI personalization
            and enhanced security for better scalability and usability.
            <hr>
            My Role: I handled the MongoDB database, ensuring efficient data storage and secure backend operations. I
            also assisted in frontend development and contributed to the UI/UX design for a smooth and responsive user
            experience.
        </p>

        <h2>Tech Stack</h2>
        <ul>
            <li>MongoDB</li>
            <li>Express.js</li>
            <li>React.js</li>
            <li>Node.js</li>
        </ul>

        <h2>Screenshots</h2>

        <div class="grid-container">
            <div class="grid-item">
                <h3>1. Home Page</h3>
                <img src="images/home-page.jpg" alt="Home Page" class="screenshot" />
            </div>
            <div class="grid-item">
                <h3>2. Signup Page</h3>
                <img src="images/signup-page.jpg" alt="Signup Page" class="screenshot" />
            </div>
        </div>


        <div class="grid-container">
            <div class="grid-item">
                <h3>3. Product Listings with Filters</h3>
                <img src="images/Product Listings-page.jpg" alt="Product Listings" class="screenshot" />
            </div>
            <div class="grid-item">
                <h3>4. Single Product View</h3>
                <img src="images/product-page.jpg" alt="Product Detail Page" class="screenshot" />
            </div>
        </div>


        <h2>Key Features</h2>
        <ul>
            <li>1. Secure login & signup</li>
            <li>2. Product filters & sorting</li>
            <li>3. Add to cart & wishlist</li>
            <li>4. Responsive UI</li>
            <li>5. SEO optimization</li>
        </ul>
    </div>


</body>

</html>