<%- include("partials/header.ejs") %>

    <!--===== HOME =====-->
    <section class="home bd-grid" id="home">
        <div class="home__data">
            <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">Shrinivas R G</span><br> Web
                Developer</h1>
            <a href="https://drive.google.com/file/d/1POC8pDKSR5sFKz4pkAVO9NAafqYtLgNv/view?usp=sharing"
                download="ShrinivasRG_Resume" class="button" style="margin-right: 10px;">Resume</a>
            <a href="#contact" class="button">Contact</a>
        </div>

        <div class="home__social">
            <a href="https://www.linkedin.com/in/shrinivasraddi-r-gunjalad-a6041223b/" class="home__social-icon"><i
                    class='bx bxl-linkedin'></i></a>
            <a href="https://github.com/Shrinivasraddi" class="home__social-icon"><i class='bx bxl-github'></i></a>
        </div>

        <div class="home__img">
            <img src="images/Photo1.png" alt="Profile Image" class="home__blob-img">
        </div>
    </section>

    <%- include("partials/footer.ejs") %>