<%- include("partials/header.ejs") %>
    <!--===== SKILLS =====-->
    <section class="skills section" id="skills">
        <h2 class="section-title skills_title">Skills</h2>
        <div class="container">
            <h2 class="skills-tag">I have experience with these technologies</h2>
            <div class="grid">
                <img src="skills-icons/html.png" alt="HTML">
                <img src="skills-icons/css.png" alt="CSS">
                <img src="skills-icons/bootstrap.png" alt="Bootstrap">
                <img src="skills-icons/express.png" alt="Express.js">
                <img src="skills-icons/js.png" alt="JavaScript">
                <img src="skills-icons/jquery.png" alt="jQuery">
                <img src="skills-icons/java.png" alt="Java">
                <img src="skills-icons/mongo.png" alt="MongoDB">
                <img src="skills-icons/mysql.png" alt="MySQL">
                <img src="skills-icons/c.png" alt="C">
                <img src="skills-icons/node.png" alt="Node.js">
                <img src="skills-icons/psql.png" alt="PostgreSql">
                <img src="skills-icons/spring.png" alt="Spring">
                <img src="skills-icons/microsoft-azure.png" alt="microsoft azure badge">
            </div>
        </div>
    </section>

    <%- include("partials/footer.ejs") %>