<%- include("partials/header.ejs") %>

    <!--===== WORK =====-->
    <section class="work section" id="work">
        <h2 class="section-title work-title">Works</h2>

        <div class="work__container bd-grid">
            <a href="https://mahaveerin.com/" class="work__img">
                <img class="mahaveer-img" src="images/Mahaveer.png" alt="work_screenshot">
            </a>
            <a href="https://devfolio.co/projects/sv-interpreter-417c" class="work__img">
                <img src="images/s2v.png" alt="work_screenshot">
            </a>
            <a href="/views/e-com.ejs" class="work__img">
                <img src="images/home-page.jpg" alt="home-page">
            </a>
        </div>
    </section>

    <%- include("partials/footer.ejs") %>